{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
{% block body %}
    <section class="login">
        <div class="title">
            <h1>Se connecter</h1>
        </div>

        <div class="formContent">
            {% if error %}
                <div class="alert errorLogin">{{ error.messageKey|trans(error.messageData, 'security') | raw }}</div>
            {% endif %}

            <form method="post">
                <div>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="demo@fredericpoulain.fr" name="email" id="inputEmail" class=""
                           autocomplete="email" required autofocus>
                </div>
                <div>
                    <label for="inputPassword">Password</label>
                    <input type="password" value="demo" name="password" id="inputPassword" class=""
                           autocomplete="current-password" required>
                </div>
                <div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
                <div class="divBtn">
                    <button class="btnLogin" type="submit">
                        Se connecter
                    </button>
                </div>
            </form>
        </div>
        <div class="forgot"><a href="{{ path('app_forgotPass') }}">J'ai oublié mon mot de passe</a></div>
        <div class="suggestRegister">
            <p>Pas encore de compte ?</p>
            <p>Se créer un compte vous permettra de gérer vos favoris, et de sauvegarder vos préférences</p>
            <a href="{{ path('app_register') }}">
                <button class="btnRegister" type="submit">
                    S'inscrire
                </button>
            </a>
        </div>
    </section>
    <div class="backgroundIndex">
        <span>//[5] => 'Connexion'</span>
    </div>
{% endblock %}
